@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-sys-color-background: rgb(244 251 248);
  --md-sys-color-on-background: rgb(22 29 28);

  --md-sys-color-surface: rgb(244 251 248);
  --md-sys-color-on-surface: rgb(22 29 28);
  --md-sys-color-surface-tint: rgb(0 106 97);

  --md-sys-color-surface-variant: rgb(218 229 226);
  --md-sys-color-on-surface-variant: rgb(59 69 67);

  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 242);
  --md-sys-color-surface-container: rgb(233 239 237);
  --md-sys-color-surface-container-high: rgb(227 234 231);
  --md-sys-color-surface-container-highest: rgb(221 228 225);

  --md-sys-color-primary-container: rgb(40 129 119);
  --md-sys-color-on-primary-container: rgb(255 255 255);

  --md-sys-color-secondary-container: rgb(96 122 117);
  --md-sys-color-on-secondary-container: rgb(255 255 255);

  --md-sys-color-primary: rgb(0 76 69);
  --md-sys-color-secondary: rgb(47 71 67);
  --md-sys-color-tertiary: rgb(42 69 93);
  --md-sys-color-error: rgb(140 0 9);

  --md-sys-color-outline: rgb(87 97 95);


  body {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
  }
}
